

body {
    font-size: 15px; 
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(231, 127, 79);
    background-color: #D2FDFF;
    max-width: 950px;
    margin: auto;
}

/*     Start of Header     */

header {
    background-color: #B4DFE5;
    text-align: center;
    display: flex;
    justify-content: center;
}


header section p {
    font-style: italic;
}

h1{
    font-size: 3.5em;
    margin: 0;
    text-shadow: 2px 2px 1px white;
}

header div{
    display: grid;
    align-items: center;
    margin-left: .3em;
}
.weatherConditions{
    display: inline-grid;
    grid-template-columns: auto auto;
    align-items: center;
    border-radius: 2em;
    border: white solid;
    background: rgb(235, 225, 163);
    min-width: 7em;
    height: 6em; 
    padding: 0em 1em;
    text-transform: capitalize;
    color: #3c74a6;
    box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,0.58), 0px 10px 10px -9px rgba(0,0,0,0.58);
    font-weight: bold;
}
img.currentWeatherIcon{
    width: 60px;
    padding: 0;
}

/*     End of Header     */

/*     Start of Nav Menu     */
ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #3c74a6;
    padding: 0;
    justify-content: center;
}


li a {
    display: flex;
    color: white;
    border-right: 1px solid #bbb;
    text-align: center;
    text-decoration: none;
}

li a:hover {
    background-color: #1c4f7c;
    color: white;
}
li.menu {display:none;}

.active {
    background-color:rgb(235, 225, 163);
    color: #3c74a6;
}

li:last-child a{
    border-right: none;
}

li button {display: none;}

nav li, nav li a {
    display: flex;
    flex-direction: row;
    flex-basis: 7em;
    line-height: 3em;
    justify-content: center;
}

ul{ display: flex;}

/*     End of Nav Menu     */
h2{
    text-align: center;
    font-size: 2em;
    margin: .5em 0em .3em 0em;
    text-shadow: 2px 2px 1px rgb(34, 34, 34);

}
/*     Start of Today Div  */

div.today{
}
.today picture, .today img{
    z-index: 0;
    position: relative;
    width: 100%;
}
section.weathersummary{
    position: absolute;
    z-index: 2;
    width: 12em;
    margin: 1em 0em 0em 2em;
    padding: 2px;
    background: rgba(15, 84, 148, 0.874);
    display: inline-block;
    box-shadow: 0px 0px 42px -3px rgba(0,0,0,0.58);
    border: 1px solid rgb(170, 248, 212);
    text-shadow: 1px 1px 3px black;
}
section.weathersummary h3 {
    margin: .3em 0em 1em .3em;
    border-bottom: 1px solid #F4976C;
}

section.weathersummary p{
    display: block;
    margin: 0;
}
p.label{
    float: left;
    width: 6em;
    padding-left: .5em;
    text-align: right;
}
p.value{
    float: right;
    width: 5em;
    color: rgb(185, 239, 241);
    text-transform: capitalize;
    text-overflow: ellipsis;
}
/*     End of Today Div  */

/*     Start of 5-Day Forcast Div  */
section.forecast{
    display: block;
    box-shadow: inset 0px 0px 42px -7px rgba(0,0,0,0.58);
    padding: .1em 0em 1em 0em;
    margin-top: 1.26em;
    background-color: rgb(47, 72, 110);

}
section.forecast h3{
    text-align: center;
    margin-bottom: 0;

}
section.forecast table{
    margin: auto;
}
section.forecast th{
    background-color: white;
}

section.forecast tr *{
    padding: .5em;
    border-style: solid;
    border-color: white;
}
.forecast span{
    padding: 0;
    border: 0;
}
/*     End of 5-Day Forcast Div  */
/*     Start of Article Div  */
article{
    display: block;
    margin-top: 1.26em;
    padding: 1em 2em;
    background-color:rgb(235, 225, 163);
    box-shadow: inset 0px 0px 42px -7px rgba(0,0,0,0.58);
    color:rgb(47, 72, 110);
}
article h3{
    margin-bottom: 0;
}
article span{
    display: block;
    clear: both;
    font-size: .7em;
    margin: 0;
    color: rgb(170, 124, 103);
}
article p{
    display: inline-block;
    width: 400px;
    margin-left: .5em;
}
article a{
    font-size: .7em;
}
article img{
    display: block;
    width: 300px;
    float: right;
    box-shadow: 0px 0px 42px -3px rgba(0,0,0,0.58);

}
/*     End of Article Div  */
/*     Start of Footer Div  */
footer {
    margin-top: 1.5em;
    text-align: center;
}
section.bottom{
    padding: 1em 0em;
    background-color: #B4DFE5;
}
.bottom *{margin: 0em 1em 0em 1em; }

img.contactImg{
    width:200px;
}
.contact{
    display: inline-block;
    width: 200px;
    color: rgb(0, 0, 0);
}
.contact span{
    margin: 0;
    font-weight: bold;
}
.map{
    display: inline-block;
}
iframe {
    border: 1px solid rgb(0, 0, 0);
    width: 240px;
    height: 100px;
}
section.footernav{
    text-align: center;
    background-color: rgb(47, 72, 110);
    padding: .1em 0em;
}
/*     End of Footer Div  */


/* Start of Gallery Page */

section.gallery{
    display: grid;
    max-width: 950px;
    text-align: center;
    grid-template-columns: auto auto auto;
    justify-content: space-around;
}
.gallery p{
    width: 300px;
    
}


/* End of Gallery Page */


/* Start of Storm Center Page */

main{
    display: block;
}
form{
    display: flex;
    flex-direction: column;
}
input{
    margin-bottom: 2em;
}
label{
    width: 10em;
    text-align: left;
}
:required {
    border-color: rgb(247, 90, 90);
  }
/* End of Storm Center Page */

/* Start of Index Page */

section.townsDisplay{
    display: grid;
    text-align: center;
    grid-template-columns: auto;
    justify-content: space-around;
}
.townsDisplay article{
    display: grid;
    padding: 0;
    width: 13em;
    border-radius: 0 0 .5em .5em;
    box-shadow: 2px 3px 20px -2px rgba(0,0,0,0.58);
}
.townsDisplay p{
    width: auto;
}
.townsDisplay p:first-of-type{
    font-style: italic;
    height: 3em;
}
.townsDisplay img{
    width: 13em;
    box-shadow: none;
    border-radius: 0 0 .5em .5em;
}
.townsDisplay span{
    all: unset;
    font-weight: bold;
}
.townsDisplay h3{
    font-size: 2em;
    text-shadow: 1px 1px 1px rgb(34, 34, 34);
}
.townsDisplay a{
    position: absolute;
    width: 18.6em;
    height: 37.2em;
}
/* End of Index Page */

/* Start of Event Listing */
.otherEvents h3{
    text-align: center;
    font-size: 1.5em;
}
.otherEvents section{
    display: grid;
    grid-template-columns: auto auto;
    justify-items: center;
    text-align: center;
    color: white;
}
.otherEvents p{
    
    border-radius: 25px;
    background: rgb(90, 133, 172);
    padding: 20px 0px; 
    width: 23em;
    box-shadow: inset -1px 3px 14px -4px rgba(0,0,0,0.48), 0px 23px 11px -21px rgba(0,0,0,0.58);
}
.otherEvents span{
    color: inherit;
}
.date {
    font-weight: bold;
    font-size: 1em;
}
.eventName{
    font-size: 1em;
}

/* End of Event Listing */

@media only screen and (max-width: 779px) {
    body{width: 432px;}
    header img, header div {display: none; }
    header h1 {font-size: 3em;}
    header section{padding: 20px 20px 0px 30px;}

    nav li{
        display: none;
        flex-direction: column;
        justify-content: center; 
        flex-wrap: wrap;
        height: 3em;
    }
    nav li:first-child{ display: flex; height: 3em;}
    nav li a{
        border-right: none;
        flex-direction: column;
        flex-wrap: wrap;
    }
    nav ul { display: block;}
    section.forecast {display: none;}
    article p {display: block; width: auto; }
    article img{display: block; float: none; margin: auto;}
    .contactImg {display:none;}
    .contact {display: block; margin: auto;}
    .map {display: block; text-align: center; margin: auto;}
    li button {
        display: inline-flex;
        position: absolute;
        background-color: transparent;
        color: white;
        border: none;
        font-size: 1.25em;
        padding: 0.66em 12.78em 0.6em 9.4em;}
        
    button:hover {
        cursor: pointer;
    }
    li.menu {display: flex;}
    li h4{
    font-size: 15px;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px 13px 16px;
    margin: 0;
    font-weight: normal;
    }
    li.menu:hover{
        background-color: #1c4f7c;
    }
/* Start of Gallery Page */
    section.gallery{
        grid-template-columns: auto;
    }
    
/* End of Gallery Page */
}
