@media only screen and (min-width: 37.5em) {
    header h1{
        font-size:2rem;
        margin:0;
	}
	header h2{
        font-size:1.5rem;
        margin:0;
    }
	main section h2{
        font-size:1.3rem;
    }
    main section h3 {
        font-size:1.2rem;
    }
    main section h4 {
        font-size:1.2rem;
	}
	main section picture img {
        height: auto;
    }
    footer{
        font-size:1rem;
    }
    .stats {
        left:20px;
        font-size:1rem;
    }
    .stats h2{
        font-size:1rem;
    }
    .stats p{
        font-size:1rem;
        padding:.8rem;
    }
section:nth-child(2){
    display:block;
}
section:nth-child(2) h2{
    font-size:1.2rem;
    margin:10px auto;
}
.table {
    display:flex;
    border:1px solid #ccc;
    margin:0 auto;
    width:50%;
}
.table .forecast{
    background:whitesmoke;
    margin:0 auto;
    border-right:1px solid #ccc;
}
.table .forecast:nth-child(5){
    border:none;
}
.table .forecast h3{
    margin:0;
    padding:5px;
    background:#85AFD2;
    color:#DBEFE1;
    text-align:center;
    font-size:1rem;
    font-weight:700;
    border-bottom:1px solid #ccc;
}
.table .forecast img{
    width: 75%;
}
.table .forecast p{
    text-align:center;
}
   .contact-content {
        width: 50%;
    }

    .contact-container {
        display: flex;
        flex: 0 0 auto;
        justify-content: center;
        align-items: center;
    }
section:nth-child(3) img{
    float:right;
    width:250px;
    margin:10px;
}
section:nth-child(3) h2{
	text-align:center;



}
 .disp-full-artcile>button {
        font-size: 1em;
    }
section:nth-child(3) h3{
    text-align:left;
	    width:300px;

 
	
    } .map-container {
        display: unset;
    }

    .map-container iframe {
        width: 200px;
    }

}
