/* Wide Desktop view*/
@media only screen and (min-width: 60em) {
    .navigation {
        display: flex;
    }

    .navigation li:first-child {
        display: none;
    }

    .navigation li {
        display: block;
        flex: 1 1 100%;
    }

    .navigatoin li a {
        color: #40c9a2;
    }
    .logo {
        width:150px;
    }
    footer {
        max-width: 900px;
        font-size: 1.3rem;
    }
    .slogan {
        font-size: 1rem;
    } 
    .summary, .forecast, .article, .contact {
        max-width: 900px;
    }

    h1 {
        font-size: 2.5rem;
    }

    h2 {
        font-size: 2rem;
    }

    h4 {
        font-size: 1.5rem;
    }
    #lastMod {
        font-size: 1rem;
    }
    nav li a {
        font-size: 1.1rem;
    }

    p {
        font-size: 1.3rem;
    }

    ol {
        font-size: 1.3rem;
    }

    ul {
        font-size: 1.3rem;
    }
    
    h4 {
        font-size: 1.3rem;
    }
}