/* Tablet View CSS */
@media only screen and (min-width: 40em) {
    .logo {
        width:125px;
    }
    footer {
        max-width: 900px;
        font-size: 1rem;
    }
    .slogan {
        font-size: 0.8rem;
    } 
    .summary, .forecast, .article, .contact {
        max-width: 900px;
    }

    h1 {
        font-size: 2rem;
    }
    
    h2 {
        font-size: 1.7rem;
    }    

    h4 {
        font-size: 1.2rem;
    }    
    #JScript {
        font-size: 0.8rem;
    }
    nav li a {
        font-size: 1em;
    }

    p {
        font-size: 1rem;
    }

    ul {
        font-size: 1rem;
    }

    h4 {
        font-size: 1.1rem;
    }
}