body{
    background-color:deepskyblue;
}

h1 {
    text-align: center;
    font-family: Cooper;
    font-size: large;
    color: darkred;
}
h3 {
    text-align: center;
    font-family: Cooper;
    font-size: medium;
    color: darkslateblue;
}
p{
    text-align: center;
    font-family: Cooper;
}
table{
    position:center;
    text-align:center;
    width:100%;
    height:415px;
}


span#restart:active{
    color:springgreen;
}

div#memory_board {
    background: url(Mario_bg.png) no-repeat center;
    border: #000 1px solid;
    margin: auto;
    width: 320px;
    height: 415px;
    max-height: 830px;
    max-width: 640px;
    position: center;
    line-height: 50px;
}

.flip3d {
}
    .flip3d > .front {
        background: url(Paper_Mario_Cards.png) no-repeat center;
        background-color: royalblue;
        background-size: 50px;
        border: #000 1px solid;
        min-width: 52px;
        min-height: 75px;
        max-height: 104px;
        max-width: 150px;
        float: left;
        margin: 3px;
        padding: 10px;
        font-size: 50px;
        cursor: pointer;
        text-align: center;
        border-radius: 7px;
        -ms-transform: perspective(600px) rotateY(0deg);
        -webkit-transform: perspective(600px) rotateY(0deg);
        transform: perspective(600px) rotateY(0deg);
        transition: -webkit-transform .5s linear 0s;
        transition: transform .4s linear 0s;
    }

    .flip3d > .back {
        background: no-repeat center;
        background-color: lightskyblue;
        background-size: 50px;
        border: #000 1px solid;
        min-width: 52px;
        min-height: 75px;
        max-height: 104px;
        max-width: 150px;
        float: left;
        margin: 3px;
        padding: 10px;
        font-size: 30px;
        line-height: 75px;
        cursor: pointer;
        text-align: center;
        border-radius: 7px;
        opacity: 0.85;
        -ms-transform: perspective(600px) rotateY(180deg);
        -webkit-transform: perspective(600px) rotateY(180deg);
        transform: perspective(600px) rotateY(180deg);
        transition: -webkit-transform .5s linear 0s;
        transition: transform .4s linear 0s;
    }

.clown {
    line-height: 200px;
    font-size: 100px;
    background: #ff0000;
    color: white;
    border-radius: 7px;
    animation-name: scaleAnim;
    animation-duration: 4s;
}

.clown {
    animation-name: scaleAnim;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes scaleAnim {
    0% {
        transform: scale(.2);
        background-color: #ff0000;
        border-radius: 100%;
    }

    50% {
        background-color: mediumvioletred;
    }

    100% {
        transform: scale(1);
        background-color: #80BFFF;
    }
}