#container {
    width: 400px;
    height: 400px;
    position: relative;
    background: lightgray;
}

#animate {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: darkblue;
    color: white;
    font-size: large;
    text-align: center;
}