
@media only screen and (min-width: 37.5em) {

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

   nav button { display: none; }  /* hamburger button does not need to be shown in the medium on up views */

    nav ul {
        overflow: hidden;
    }
    nav ul li {
        float: left;
        background-color: antiquewhite;
        padding: 10px;
        margin: 0;
        word-wrap: normal;
    }
    nav ul li a {
        font-size: 1.3rem;
    }

    section.forecast {
        display: block;
        border: 5px solid #3590F3;
        font-size: 1.3rem;
        margin-top: 10px;
    }  /* show the 10-day forecast with the medium view and up */

    .forecast th {
        text-align: center;
        background-color: antiquewhite;
        padding: 12px;

    }
    .forecast td {
        background-color: #3590F3;
        color: white;
        padding: 15px;
    }

    table {
        margin: auto;
        margin-bottom: 20px;
    }
    nav ul.hide{
        display: inline-block;
    }
    .Small {
        display: none;
    }
    .Medium {
        width: 100%;
        height: auto;
    }
    .Large {
        display: none;
    }
    .hamburger {
        display: none;
    }
    section.gallery {
        grid-template-columns: repeat(2, 50%);
        grid-gap: 0%;
    }
}
