body {
    font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
    height: 100%;
    
}

header {
    background-color: black;
    position: fixed;
    top: 0px;
    text-align: center;
    height: 150px;
    width: 100%;
    z-index: +2;
    
}

header > img {
 width: 100px;
 padding-right: 80px;
 padding-bottom: 20px;
 height: auto;
 
 }

 .headertext {
    font-size: 20px;
    position: relative;
    color: white;
    display: inline-block;
 }     

 .headertext h1 {
    position: relative; 
    font-size: 50px;
 }
 .currentconditions {
    display: inline-block;
    padding-inline-start: 70px;
    width: 100px;
    height: auto;
    vertical-align: right;
 }

ul {
    list-style-type: inline block;
    position: fixed;
    top: 150px;
    margin: 0%;
    padding: 0%;
    width: 100%;
    background-color: black;
    text-align: center;
    z-index: +4;
}

li {
    display: inline-block;
    
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
     
}

li a:hover {
    background-color:green;
    
}
h6 { text-align: center;
    position: absolute;
    padding: 20px;
    top: 140px;
    left: 0;
    height: 35px;
    width: 100%;
    background-color: green;
    color:white; 
    text-align: center;
    font-size: 24px; 
    z-index: 0;
    
    
}
.weathersummary {
    position: relative;
    top: 300px;
    left: 200px;
    width: 200px;
    padding: 4px;
    background-color: green;
    font-weight: bold;
    font-size: 15px;
    z-index: +3;
    }
 .value{
     color: white;
 }   
.forecast {
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    bottom: 20px;
    height: 150px;
    width: 100%;
    background-color:green;
    color:black; 
    text-align: center; 
    z-index: 0;
   
    }
 table{
    display: inline-block;
    color:black;
    text-align: center;
    font-size: 15px;
    padding-left: 0px;
 }   
th {
    font-size: 15px;
}

 .image {
    position: relative;
    height: auto;
    width: 100%;
    z-index: -2;
}
aside{
  
  position: -webkit-sticky;
  position: sticky;
  bottom: 10em;
  padding: 0px;
  float:right;
  z-index: +1;
}
aside img{
    height: auto;
    width: 35em;
    float: right;
}

.franklin{
    position: static;
    top: 0%;
    height: 0%;
    bottom:50px;
    width: 100%;
    float: left;
    padding: 10px;
    background:orange;
    size: 20px;
    size: 50px;
   
    font-size: 24px;
    
}
.image3{
  position: -webkit-sticky;
  position: sticky;
  top: 20.75%;
  padding: 5px;
  float:right;
  top:20%;
  z-index: +1;
}

article{
    position: relative;
    left: 50%;
    
    bottom:6.5em;
    width: 50%;
    background-color:green;
    color:black; 
    text-align: center;

}
p {
    text-indent: 50px;
 
    line-height: 3px;
    text-align: center;
    
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 65px;
    width: 100%;
    background-color:black;
    color: white; 
    text-align: center; 
    z-index: +4;
}
  
  
