@media only screen and (min-width: 60em){
    header h1{
        font-size:2.5rem;
    }
    section h2 {
        font-size:1.5rem;
    }
    section h3 {
        font-size:1rem;
    }
    header, footer{
        border-radius:10px;
    }
        main {
            grid-template-columns: 1fr 1fr 1fr;
        }
        section:nth-child(3) {
            grid-column: span 1;
        }
    }