*  { margin: 0; box-sizing: border-box; }
body {
    font-size: 16px;
    line-height: 35px;
    font-family: 'Montserrat', sans-serif;
    color: Black;
    font-weight: 300;
    max-width:900px;
    margin:0 auto;
}

#footer {
    padding: 0.75em;
    font-size: 1em;
    text-align: center;
    color: grey;
}
#lastMod {
    padding: 0.75em;
    font-size: 1em;
    text-align: center;
    color: #5caed0;   
}

header, footer{
    margin: 1.25rem auto;
    padding:1rem;
    text-align: center;
    background-color: #12068d;
    color: grey;
}
header h1 {
    font-family: 'Yeseva One', cursive;
    font-size:1.5rem;
    font-weight: bold;
    color: #5caed0;
}
header h3 {
    font-family: 'Yeseva One', cursive;
    font-size:1.5rem;
    font-weight: bold;
    color: #E5E9EA;
}
main {
    max-width:900px;
    margin:0 auto;
    font-size: 0.8rem;
    display: grid;
    grid-template-columns: 1fr;
}
main section{
    margin: 0.5rem;
	padding: 0 1rem;
    background-color: #EEEEEE;
    text-align:center;
	border-radius:10px;
	border: 1px solid #BBBBBB;
}
main h2{
    font-size:1.5rem;
    color: #12068d;
    margin-top:20px;
}
main h3{
    font-size:1rem;
    font-weight: 300;
    margin: 30px 0;

}
main a{
    color:rgb(68, 65, 65);
}
main section picture img{
    width:250px;
    box-shadow:0px 0px 15px;
    border:1px solid #000;

}
main p{
    font-size:1rem;
    text-align:justify; 
}
section p {
    font-weight:500;
    padding:20px;
}
footer {
    font-size: 1.0rem;
    line-height: 1.5;
}
footer a{
    color: grey;
}
