.flip3d {
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
    text-align:center;
    line-height:200px;
}

.flip3d > .front {
    position: absolute;
    -ms-transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
    background: #ff0000;
    color:white;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}

.flip3d > .back {
    position: absolute;
    -ms-transform: perspective(600px) rotateY(0deg);
    -webkit-transform: perspective(600px) rotateY(180deg);
    transform: perspective(600px) rotateY(180deg);
    background: #80BFFF;
    width: 240px;
    height: 200px;
    border-radius: 7px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .5s linear 0s;
    transition: transform .5s linear 0s;
}

.flip3d:hover > .front {
    -webkit-transform: perspective(600px) rotateY(-180deg);
    transform: perspective(600px) rotateY(-180deg);
}

.flip3d:hover > .back {
    -webkit-transform: perspective(600px) rotateY(0deg);
    transform: perspective(600px) rotateY(0deg);
}

.transition1 {
    width: 240px;
    height: 200px;
    margin: 10px;
    background: #ff0000;
    color: white;
    font-size: 1em;
    float: left;
    text-align: center;
    line-height: 200px;
    border-radius: 7px;
    -webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, background 2s, font-size 2s, color 2s;
}

.transition1:hover {
    width: 755px;
    background: #80BFFF;
    font-size: 5em;
    color: darkred;
}


@keyframes scaleAnim {
    0% {
        transform: scale(.2);
        background-color: #ff0000;
        border-radius: 100%;
    }
    50% {
        background-color: mediumvioletred;
    }

    100% {
        transform: scale(1);
        background-color: #80BFFF;
    }
}

.animation {
    width: 240px;
    height: 200px;
    margin: 10px;
    float: left;
    text-align: center;
    line-height: 200px;
}
.anim1 {
    background: #ff0000;
    color: white;
    font-size: 1em;
    border-radius: 7px;
    animation-name: scaleAnim;
    animation-duration: 4s;
}
.anim1 {
    animation-name: scaleAnim;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@keyframes transform-transition {
    0%   {left:0px; top:0px;}
    25%  {left:500px; top:200px;}
    50%  {left:500px; top:0px;}
    75%  {left:0px; top:200px;}
    100% {
        left: 0px;
        top: 0px;
        transform: rotate(360deg);
        background-color: #80BFFF;
        color: darkred
    }
}


.anim2 {
    border-radius: 7px;
    background: #ff0000;
    font-size: 3em;
    color: white;
    position: relative;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: transform-transition;
    animation-duration: 4s;
    -webkit-animation-name: transform-transition; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
}