@media only screen and (min-width: 37.5em) {
    header h1{
        font-size:2.5rem;
    }
    h2 {
        font-size:1.5rem;
    }
    header, footer{
    }
    main {
		grid-template-columns: 1fr 1fr;
	}

	section:nth-child(2) {
		display: block;
	}

	section:nth-child(3) {
		grid-column: span 2;
	}

	main picture {
		display: block;
	}
	main section picture img {
		height: auto;
    }
    
}