*  { margin: 0; box-sizing: border-box; }
body {
    font-size: 16px;
    font-family: 'Roof runners active Font Family';
    color: #000000;
    font-weight: 300;
	margin-left: auto; 
    margin-right: auto;
    max-width:900px;
}
@media only screen and (min-width: 37.5em) {
	/* Horizontal Flex Menu */
		nav ul { display: flex; }
        nav ul li { flex: 1 1 100%; }
}
nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav li a {
	display: block;
	color: #052989;
	font-family: 'Minya Nouvelle', cursive;
	text-align: center;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
}
nav a:hover {
	background-color: #052989;
    color: #E5E9Ea;
    border-radius:10px;
}
#footer {
    padding: 0.75em;
    font-size: 1em;
    text-align: center;
    color: #E5E9Ea;
}
#lastMod {
    padding: 0.75em;
    font-size: 1em;
    text-align: center;
    color: #5caed0;   
}
header, footer{
    margin: 1.25rem auto;
    padding:1rem;
    text-align: center;
    background-color: #052989;
    color: #E5E9EA;
}
header h1 {
    font-family: 'Minya Nouvelle', cursive;
    font-size:1.5rem;
    font-weight: bold;
    color: #5caed0;
}
header h3 {
    font-family: 'Minya Nouvelle', cursive;
    font-size:1.5rem;
    font-weight: bold;
    color: #E5E9EA;
}
main {
    font-size: 0.8rem;
	max-width:900px;
    margin:0 auto;
    font-size: 0.8rem;
    grid-template-columns: 1fr;
}
#menu {
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: #E5E9Ea;
    font-size: 2rem;
    color: #0B8066;
    text-align:center;
	margin-left: auto; 
    margin-right: auto;
    border-radius:10px;
	border: 1px solid #BBBBBB;
}
main section{
    margin: 0.5rem;
    padding: 0 1rem;
    background-color: #EEEEEE;
    text-align:justify;
	border-radius:10px;
	border: 1px solid #BBBBBB;
}
main h2{
    font-size:1.5rem;
    color: #052989;
    margin-top:20px;
}
main h3{
    font-size:1rem;
    font-weight: 300;
    margin: 30px 0;
}
main a{
    color:rgb(68, 65, 65);
}

#black_color {
    background: #000000;
    color:#ffffff;
    width: 100%;
	height: 20%;
	padding: 0;
}

#dark_blue_color {
    background:#052989;
    color: #000000;
    width: 100%;
	height: 20%;
	padding: 0;
}

#light_blue_color {
    background:#5caed0;
    color: #000000;
    width: 100%;
	height: 20%;
	padding: 0;
}
#green_color {
    background:#;
    color: #5caed0;
    width: 100%;
	height: 20%;
	padding: 0;
}
#white_color {
    background:#ffffff;
    color: #000000;
    width: 100%;
	height: 20%;
	padding: 0;
}
.left-td {
    font-size: 16px;
    font-family: 'Roof runners active Font Family';
    width: 35%;
    text-align: left;
    padding-left: 15px;
    vertical-align: text-top;
  }
  
  .right-td {
    font-size: 16px;
    font-family: 'Roof runners active Font Family';
    padding-left: 15px;
  }
main section picture img{
    width:150px;
    height: auto;
    box-shadow:0px 0px 15px;
    border:1px solid #000;
}
main p{
    font-size:1rem;
    text-align:justify; 
}
section p {
    font-weight:500;
    padding:20px;
}
section h3 {
    font-family: 'Minya Nouvelle', cursive;
    font-size:1.5rem;
    font-weight: bold;
    color: #86acbd;
}
footer {
    font-size: 1.0rem;
    line-height: 1.5;
}
footer a{
    color: #c1e1ea;
}